{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

 <nav class="fw do flex-container" id="dnav">
  <div class="flex-container jes">
    <a href="/collections/mens"><p class="ib">Men</p></a>
    <a href="/collections/womens"><p class="ib">Women</p></a>
    <a href="/collections/kids"><p class="ib">Kids</p></a>
  </div>
  <a href="/"><img src="{{'pacas.png' | asset_url}}"  class="jlogo"/></a>
  <div class="flex-container jes">
    <a href="/pages/our-story"><p class="ib">Our Story</p></a>
    <a href="/pages/live-feed"><p class="ib">Live Feed</p></a>
    <a href="/cart" style="z-index: 999;"><img src="{{'cart.png' | asset_url}}"class="cart-icon" /></a>
  </div> 
 </nav> 

 <nav class="fw mo jes tac" id="dnav">
  <div id="hamburger">
    <span></span>
    <span></span> 
    <span></span>
    <span></span>
  </div>
  <img src="{{'pacas.png' | asset_url}}"  class="jlogo"/>
  <img src="{{'cart.png' | asset_url}}" id="mobile-cart"/>
 </nav> 
 
 <div class="mobile-drawer mobile-nav1 tac double-padding mo" style="display: none;">
  <img src="{{'pacas.png' | asset_url}}" class="jlogo">
  <img src="{{'close-arrow.png' | asset_url}}" id="mobile-drawer-close" class="clickable"/>
  <div class="accent-padding border-bottom-gray">
    <h4 class="tac collection-prod clickable"> Women's <span class="fr">></span></h4>
    <div class="childlink" style="display: none;">
      <div class="flex-container-no jcc">
        <div class="half-no background-blue accent-padding drawer-collection-wrapper tac">
          <p>Athletic</p>
          <img src="{{'bombas_socksample.png' | asset_url}}" class="fw"/>
        </div>
        <div class="half-no background-blue accent-padding drawer-collection-wrapper tac">
          <p>Casual</p>
          <img src="{{'bombas_socksample.png' | asset_url}}" class="fw"/>
        </div>
      </div>
      <div class="flex-container-no jcc">
        <div class="half-no background-blue accent-padding drawer-collection-wrapper tac">
          <p>Dress</p>
          <img src="{{'bombas_socksample.png' | asset_url}}" class="fw"/>
        </div>
        <div class="half-no drawer-collection-wrapper ">
        </div>
      </div>
    </div>
  </div>
  <div class="accent-padding border-bottom-gray">
    <h4 class="tac collection-prod clickable"> Men's <span class="fr">></span></h4>
    <div class="childlink" style="display: none;">
      <div class="flex-container-no jcc">
        <div class="half-no background-blue accent-padding drawer-collection-wrapper tac">
          <p>Athletic</p>
          <img src="{{'bombas_socksample.png' | asset_url}}" class="fw"/>
        </div>
        <div class="half-no background-blue accent-padding drawer-collection-wrapper tac">
          <p>Casual</p>
          <img src="{{'bombas_socksample.png' | asset_url}}" class="fw"/>
        </div>
      </div>
      <div class="flex-container-no jcc">
        <div class="half-no background-blue accent-padding drawer-collection-wrapper tac">
          <p>Dress</p>
          <img src="{{'bombas_socksample.png' | asset_url}}" class="fw"/>
        </div>
        <div class="half-no drawer-collection-wrapper ">
        </div>
      </div>
    </div>
  </div>
  <div class="accent-padding border-bottom-gray">
    <h4 class="tac collection-prod clickable"> Kid's <span class="fr">></span></h4>
    <div class="childlink" style="display: none;">
      <div class="flex-container-no">
        <div class="half-no background-blue accent-padding drawer-collection-wrapper tac">
          <p>Athletic</p>
          <img src="{{'bombas_socksample.png' | asset_url}}" class="fw"/>
        </div>
        <div class="half-no background-blue accent-padding drawer-collection-wrapper tac">
          <p>Casual</p>
          <img src="{{'bombas_socksample.png' | asset_url}}" class="fw"/>
        </div>
      </div>
      <div class="flex-container-no">
        <div class="half-no background-blue accent-padding drawer-collection-wrapper tac">
          <p>Dress</p>
          <img src="{{'bombas_socksample.png' | asset_url}}" class="fw"/>
        </div>
        <div class="half-no drawer-collection-wrapper ">
        </div>
      </div>
    </div>
  </div>
  <div class="accent-padding border-bottom-gray">
    <a href="/pages/our-story"><h4 class="tac">Our Story</h4></a>
  </div>
  <div class="accent-padding border-bottom-gray">
    <a href="/pages/live-feed"><h4 class="tac">Live Feed</h4></a>
  </div>
</div>

