{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

 <nav class="fw do" id="dnav">
  <div class="flex-container">
    <div class="flex-container jes">
      <a href="/collections/mens" class="mainlink"><p class="ib mens">Men</p></a>
      <a href="/collections/womens" class="mainlink"><p class="ib womens">Women</p></a>
      <a href="/collections/kids" class="mainlink"><p class="ib kids">Kids</p></a>
    </div>
    <a href="/"><img src="{{'pacas.png' | asset_url}}"  class="jlogo"/></a>
    <div class="flex-container jes">
      <a href="/pages/our-story" class="mainlink"><p class="ib">Our Story</p></a>
      <a href="/pages/live-feed" class="mainlink"><p class="ib">Live Feed</p></a>
      <a href="/cart" style="z-index: 999;"><img src="{{'cart.png' | asset_url}}"class="cart-icon" /></a>
    </div>
  </div> 
  <div class="mens desktop-collections" style="display: none;">
    <div class="flex-container-no jcc accent-padding-to">
        <a href="/collections/mens-athletic">
          <div class="background-blue tac desktop-type-wrapper">
            <p>Athletic</p>
            <img src="{{'bombas_socksample.png' | asset_url}}"/>
          </div> 
        </a>
        <a href="/collections/mens-casual">
          <div class="background-blue tac desktop-type-wrapper">
             <p>Casual</p>
              <img src="{{'bombas_socksample.png' | asset_url}}" />
          </div>
        </a>
        <a href="/collections/mens-dress">
         <div class="background-blue tac desktop-type-wrapper">
              <p>Dress</p>
              <img src="{{'bombas_socksample.png' | asset_url}}"/>
        </div>
        </a>
      </div>
  </div> 
  <div class="kids desktop-collections" style="display: none;">
    <div class="flex-container-no jcc accent-padding-to">
      <a href="/collections/kids-athletic">
        <div class="background-blue tac desktop-type-wrapper">
          <p>Athletic</p>
          <img src="{{'bombas_socksample.png' | asset_url}}"/>
        </div>
      </a>
      <a href="/collections/kids-casual">
        <div class="background-blue tac desktop-type-wrapper">
          <p>Casual</p>
          <img src="{{'bombas_socksample.png' | asset_url}}" />
        </div>
      </a>
      </div>
  </div> 
  <div class="womens desktop-collections" style="display: none;">
    <div class="flex-container-no jcc accent-padding-to">
      <a href="/collections/womens-athletic">
        <div class="background-blue tac desktop-type-wrapper">
          <p>Athletic</p>
          <img src="{{'bombas_socksample.png' | asset_url}}"/>
        </div>
      </a>
      <a href="womens-casual">
        <div class="background-blue tac desktop-type-wrapper">
          <p>Casual</p>
          <img src="{{'bombas_socksample.png' | asset_url}}" />
        </div>
      </a>
      </div>
  </div> 
 </nav> 

 <nav class="fw mo jes tac" id="dnav">
  <div id="hamburger">
    <span></span>
    <span></span> 
    <span></span>
    <span></span>
  </div>
  <img src="{{'pacas.png' | asset_url}}"  class="jlogo"/>
  <img src="{{'cart.png' | asset_url}}" id="mobile-cart"/>
 </nav> 
 
 <div class="mobile-drawer mobile-nav1 tac double-padding mo" style="display: none;">
  <img src="{{'pacas.png' | asset_url}}" class="jlogo">
  <img src="{{'close-arrow.png' | asset_url}}" id="mobile-drawer-close" class="clickable"/>
  <div class="accent-padding border-bottom-gray">
    <h4 class="tac collection-prod clickable"> Women's <span class="fr">></span></h4>
    <div class="childlink" style="display: none;">
      <div class="flex-container-no jcc">
        <a href="/collections/womens-athletic">
          <div class="half-no background-blue accent-padding drawer-collection-wrapper tac">
            <p>Athletic</p>
            <img src="{{'bombas_socksample.png' | asset_url}}" class="fw"/>
          </div>
        </a>
        <a href="womens-casual">
          <div class="half-no background-blue accent-padding drawer-collection-wrapper tac">
            <p>Casual</p>
            <img src="{{'bombas_socksample.png' | asset_url}}" class=" fw"/>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="accent-padding border-bottom-gray">
    <h4 class="tac collection-prod clickable"> Men's <span class="fr">></span></h4>
    <div class="childlink" style="display: none;">
      <div class="flex-container-no jcc">
        <div class="half-no background-blue accent-padding drawer-collection-wrapper tac">
          <p>Athletic</p>
          <img src="{{'bombas_socksample.png' | asset_url}}" class="fw"/>
        </div>
        <div class="half-no background-blue accent-padding drawer-collection-wrapper tac">
          <p>Casual</p>
          <img src="{{'bombas_socksample.png' | asset_url}}" class="fw"/>
        </div>
      </div>
      <div class="flex-container-no jcc">
        <div class="half-no background-blue accent-padding drawer-collection-wrapper tac">
          <p>Dress</p>
          <img src="{{'bombas_socksample.png' | asset_url}}" class="fw"/>
        </div>
        <div class="half-no drawer-collection-wrapper ">
        </div>
      </div>
    </div>
  </div>
  <div class="accent-padding border-bottom-gray">
    <h4 class="tac collection-prod clickable"> Kid's <span class="fr">></span></h4>
    <div class="childlink" style="display: none;">
      <div class="flex-container-no">
        <div class="half-no background-blue accent-padding drawer-collection-wrapper tac">
          <p>Athletic</p>
          <img src="{{'bombas_socksample.png' | asset_url}}" class="fw"/>
        </div>
        <div class="half-no background-blue accent-padding drawer-collection-wrapper tac">
          <p>Casual</p>
          <img src="{{'bombas_socksample.png' | asset_url}}" class="fw"/>
        </div>
      </div>
      <div class="flex-container-no">
        <div class="half-no background-blue accent-padding drawer-collection-wrapper tac">
          <p>Dress</p>
          <img src="{{'bombas_socksample.png' | asset_url}}" class="fw"/>
        </div>
        <div class="half-no drawer-collection-wrapper ">
        </div>
      </div>
    </div>
  </div>
  <div class="accent-padding border-bottom-gray">
    <a href="/pages/our-story"><h4 class="tac">Our Story</h4></a>
  </div>
  <div class="accent-padding border-bottom-gray">
    <a href="/pages/live-feed"><h4 class="tac">Live Feed</h4></a>
  </div>
</div>

