<!-- 
Filter colors
Only show relevant Filters 
Mobile styles -->

<main id="c{{ collection.id }}" class="collection">
  {%for tag in collection.tags %}
    {% case tag %} 
      {% when 'Athletic' %}
        {% assign athletic = true %}
      {% when 'Casual' %}
        {% assign casual = true  %}
      {% when 'Dress' %}
        {% assign dress = true %}
    {% endcase %}
  {% endfor %}
    <section class="page-header flex-container-no">
      <div class="half"></div>
      <div class="half">
        <h2 class="tac">{{collection.title}} Socks</h2>
      </div>
    </section>
    <section class="flex-container" id="collection-wrapper">
      <div class="quarter double-padding">
        <div class="border-bottom-gray accent-padding-tb">
          <h3 class="nm">{{collection.title}}</h3>
        </div>
        <div class="border-bottom-gray accent-padding-tb">
          <p class="nmt"><b>Pack Size</b></p>
          <div class="flex-container-no pack-filter" id="Single Pack">
            <div class="collection-circle"></div>
            <p class="nm">Single</p>
          </div>
          <div class="flex-container-no pack-filter" id="4 - Pack">
            <div class="collection-circle"></div>
            <p class="nm">4 - Pack</p>
          </div>
          <div class="flex-container-no pack-filter" id="8 - Pack">
            <div class="collection-circle"></div>
            <p class="nm">8 - Pack</p>
          </div>
        </div>
        <div class="border-bottom-gray accent-padding-tb">
          <p class="nmt"><b>Color</b></p>
          <img src="{{'navy.png' | asset_url}}" class="collection-color" id="navy" />
          <img src="{{'aqua.png' | asset_url}}" class="collection-color" id="aqua" />
          <img src="{{'coral.png' | asset_url}}" class="collection-color" id="coral" />
          <img src="{{'gray.png' | asset_url}}" class="collection-color" id="gray" />
          <img src="{{'white.png' | asset_url}}" class="collection-color border-gray" id="white" />
          <img src="{{'black.png' | asset_url}}" class="collection-color" id="black" />
        </div>
        <div class=" accent-padding-tb">
          <p class="nmt"><b>Style</b></p>
          <div class="flex-container-no style-filter clickable" id="athletic">
            <div class="collection-circle"></div>
            <p class="nm">Athletic</p> 
          </div>
          <div class="flex-container-no style-filter clickable" id="casual">
            <div class="collection-circle"></div>
            <p class="nm">Casual</p>
          </div>
          <div class="flex-container-no style-filter clickable" id="dress">
            <div class="collection-circle"></div>
            <p class="nm">Dress</p>
          </div>
        </div>
      </div>
      <div class="three-fourths fw">
        {% if athletic == true %}
          <h3 class="nm accent-padding-tb athletic-tag">Athletic</h3>
          <div class="border-bottom-gray athletic-tag">
            {% for product in collection.products %}
              {% for tag in product.tags %}
                {% if tag == "Athletic" %}
                    <div class="product-collection accent-padding" data-product-type="{{product.type}}">
                      <a href="{{ product.url | within: collection }}">
                        {% for image in product.images limit: 1 %}
                          <img src="{{ image | product_img_url: '300x300' }}"/>
                        {% endfor %}
                      </a> 
                      <a href="{{ product.url | within: collection }}">
                        <p class=""><b>{{ product.title }}<br>{{product.type}}</b></p>
                      </a>
                      <p class="">
                        {% if product.compare_at_price_max %} 
                          <span class="strike-through">{{ product.compare_at_price | money }}</span> 
                        {% endif %}
                        {{ product.price | money }} 
                      </p>
                    </div>
                {% endif %}
              {% endfor %}
            {% endfor %} 
           </div>
         {% endif %}
         {% if casual == true %}
            <h3 class="nm accent-padding-tb casual-tag">Casual</h3>
            <div class="border-bottom-gray casual-tag">
              {% for product in collection.products %}
                {% for tag in product.tags %}
                  {% if tag == "Casual" %}
                      <div class="product-collection accent-padding" data-product-type="{{product.type}}">
                        <a href="{{ product.url | within: collection }}">
                          {% for image in product.images limit: 1 %}
                            <img src="{{ image | product_img_url: '300x300' }}"/>
                          {% endfor %}
                        </a> 
                        <a href="{{ product.url | within: collection }}">
                          <p class=""><b>{{ product.title }}<br>{{product.type}}</b></p>
                        </a>
                        <p class="">
                          {% if product.compare_at_price_max %} 
                            <span class="strike-through">{{ product.compare_at_price | money }}</span> 
                          {% endif %}
                          {{ product.price | money }} 
                        </p>
                      </div>
                  {% endif %}
                {% endfor %}
              {% endfor %} 
            </div>
          {% endif %}
      {% if dress == true  %}
            <h3 class="nm accent-padding-tb dress-tag">Dress</h3>
            <div class="border-bottom-gray dress-tag">
      {% for product in collection.products %}
        {% for tag in product.tags %}
          {% if tag == "Dress" %}
              <div class="product-collection accent-padding" data-product-type="{{product.type}}">
                <a href="{{ product.url | within: collection }}">
                  {% for image in product.images limit: 1 %}
                    <img src="{{ image | product_img_url: '300x300' }}"/>
                  {% endfor %}
                </a> 
                <a href="{{ product.url | within: collection }}">
                  <p class=""><b>{{ product.title }}<br>{{product.type}}</b></p>
                </a>
                <p class="">
                  {% if product.compare_at_price_max %} 
                    <span class="strike-through">{{ product.compare_at_price | money }}</span> 
                  {% endif %}
                  {{ product.price | money }} 
                </p>
              </div>
          {% endif %}
        {% endfor %}
      {% endfor %} 
        
        </div>
        {% endif %}
        </div> 
        </div>
    </section>
  </div>
</main>
<script>

  function filterCollections(collection, selected) {
    // uses the collection id from the filter to locate everything that has that tag using element classes
    // e.g. .athletic-tag
    var collectionSegment = "." + collection + "-tag"
    var selectedCount = 0 
    // determines how many styles are selected
    $('.style-filter .collection-circle').each(function() {
      if ($(this).hasClass('selected')) {
        selectedCount += 1 
      }
    })
    // if only one is selected, only show that one
    if (selectedCount == 1) {
      if (selected == true) {
        $(collectionSegment).siblings().hide()
        $(collectionSegment).show()
      }
      else {
        $(collectionSegment).hide(); 
      }

    }
    // if none are selected show them all 
    else if (selectedCount == 0 ) {
      $(collectionSegment).siblings().show()
    }
    // otherwise hide the ones that aren't selected and show the ones that are
    else {
      if (selected == true ) {
        $(collectionSegment).show()
      }
      else {
        $(collectionSegment).hide(); 
      }
    }
  }
  function filterPacks(pack, selected) {
    var packSegment =  '[data-product-type="' + pack + '"]'
    var selectedCount = 0 
    $('.pack-filter .collection-circle').each(function() {
      if ($(this).hasClass('selected')) {
        selectedCount += 1 
      }
    })
    if (selectedCount == 1) {
      if (selected == true) {
         $('.product-collection').hide() 
        $(packSegment).show()
      }
      else {
        $(packSegment).hide(); 
      }

    }
    // if none are selected show them all 
    else if (selectedCount == 0 ) {
      $('.product-collection').show()
    }
    // otherwise hide the ones that aren't selected and show the ones that are
    else {
      if (selected == true ) {
        $(packSegment).show()
      }
      else {
        $(packSegment).hide(); 
      }
    }
  }

  $('.pack-filter').click(function() {
    $(this).children('.collection-circle').toggleClass('selected')
    var selection = $(this).attr("id")
    if ($(this).children('.collection-circle').hasClass('selected')) {
      var selected = true 
    }
    else {
      var selected = false 
    }
    filterPacks(selection, selected)
  })
  $('.style-filter').click(function() {
    $(this).children('.collection-circle').toggleClass('selected'); 
    var selection = $(this).attr("id")
    // determining whether it is selected or unselected and passing that as a variable to the filterCollections function to determine whether we should show or hide
    if ($(this).children('.collection-circle').hasClass('selected')) {
      var selected = true 
    }
    else {
      var selected = false 
    }
    filterCollections(selection, selected)
  })



</script>







