 <main id="c{{ collection.id }}" class="collection">
    <section class="page-header flex-container-no">
      <div class="half"></div>
      <div class="half">
        <h2 class="tac">{{collection.title}} Socks</h2>
        <p class="tac">Want to donate some socks to a local hospital?<br>Click <b>here</b> to pickout Paca styles</p>
      </div>
    </section>
    <section class="flex-container" id="collection-wrapper">
      <div class="quarter double-padding">
        <div class="border-bottom-gray accent-padding-tb">
          <h3 class="nm">{{collection.title}}</h3>
        </div>
        <div class="border-bottom-gray accent-padding-tb">
          <p class="nmt"><b>Pack Size</b></p>
          <div class="flex-container-no" id="single">
            <div class="collection-circle"></div>
            <p class="nm">Single</p>
          </div>
          <div class="flex-container-no" id="four-pack">
            <div class="collection-circle"></div>
            <p class="nm">4 - Pack</p>
          </div>
          <div class="flex-container-no" id="eight-pack">
            <div class="collection-circle"></div>
            <p class="nm">8 - Pack</p>
          </div>
        </div>
        <div class="border-bottom-gray accent-padding-tb">
          <p class="nmt"><b>Color</b></p>
          <img src="{{'navy.png' | asset_url}}" class="collection-color" id="navy" />
          <img src="{{'aqua.png' | asset_url}}" class="collection-color" id="aqua" />
          <img src="{{'coral.png' | asset_url}}" class="collection-color" id="coral" />
          <img src="{{'gray.png' | asset_url}}" class="collection-color" id="gray" />
          <img src="{{'white.png' | asset_url}}" class="collection-color border-gray" id="white" />
          <img src="{{'black.png' | asset_url}}" class="collection-color" id="black" />

        </div>
        <div class=" accent-padding-tb">
          <p class="nmt"><b>Style</b></p>
          <div class="flex-container-no" id="athletic">
            <div class="collection-circle"></div>
            <p class="nm">Athletic</p>
          </div>
          <div class="flex-container-no" id="casual">
            <div class="collection-circle"></div>
            <p class="nm">Casual</p>
          </div>
          <div class="flex-container-no" id="dress">
            <div class="collection-circle"></div>
            <p class="nm">Dress</p>
          </div>
        </div>
      </div>
      <div class="three-fourths">
        <div class="flex-container double-padding">
          {% for product in collection.products %}
              <div class="product-collection accent-padding">
              <a href="{{ product.url | within: collection }}">
                {% for image in product.images limit: 1 %}
                  <img src="{{ image | product_img_url: '300x300' }}"/>
                {% endfor %}
              </a>
              <a href="{{ product.url | within: collection }}">
                <p class=""><b>{{ product.title }}<br>{{product.type}}</b></p>
              </a>
              <p class="">
                {% if product.compare_at_price_max %} 
                  <span class="strike-through">{{ product.compare_at_price | money }}</span> 
                {% endif %}
                {{ product.price | money }} 
              </p>
            </div>
          {% endfor %} 
        </div>
      </div>
    </section>
  </div>
</main>