<main id="index">
<section class="page-header flex-container-no" id="atf">
  <div class="ib" id="atf-text">
  <h3 class="nm">Comfort Every<br>Step of the Way</h3>
  <p>Buttery soft socks made from <br>luxurious, all natural alpaca fleece.</p>
    <div class="connect button ib" id="cta">
      <a href="/collections/women"><p class="nm tac">Shop Collection</p></a>
    </div>
    <img src="{{'hearts-desktop1.png' | asset_url}}" class="heart-icons do" id="hd1"/>
  </div>
</section>
<section class="double-padding flex-container-no" id="gifting">
  <div class="half-no"></div>
  <div class="three-fourths tac">
    <h3 class="nm connect">Give the Gift of Comfort and Warmth</h3>
    <p>Every purchase goes towards taking Paca-on-Wheels around the <br>nation to deliver Paca socks to children staying in hospitals.</p>
    <p>We comfort you. You comfort them.</p>
    <div class="button ib" id="learn-cta">
      <a href="/pages/our-story"><p class="nm tac">Our Story</p></a>
    </div>
        <img src="{{'hearts-desktop2.png' | asset_url}}" class="heart-icons do" id="hd2"/>

  </div>
</section>
<section class="flex-container-no jcc" id="materials-grid">
  <img src="{{'newfleece.png' | asset_url}}"  class="fw third"/>
  <div class="paca-facts tac accent-padding background-blue">
    <img src="{{'ribbon.png' | asset_url}}" class="icon third" />
    <p>Here at Pacas, we've curated the perfect baby alpaca blends to fit all your athletic, casual, and dress needs so that you can have comfort every step of the way.</p>
  </div>
  <img src="{{'sewing.jpg' | asset_url}}" class="fw third" />
</section>
<img src="{{'hearts-desktop3.png' | asset_url}}" class="heart-icons do" id="hd3"/>
<section class="page-header do" id="sock-preview-benefits">
 <div class="flex-container">
    <div class="sock-preview accent-padding half">
      <div class="flex-container-no jes">
        <div class="left-arrow"><p class="large">⌃</p></div>
          <div>
            <img src="{{'bombas_socksample.png' | asset_url}}" id="athletic" style="display:none;"/>
            <img src="{{'bombas_socksample.png' | asset_url}}" id="casual"/>
            <img src="{{'bombas_socksample.png' | asset_url}}" id="dress" style="display: none;"/>
          </div>
        <div class="right-arrow"><p class="large">⌃</p></div>
      </div>
      <div class="flex-container-no jes sock-options">
        <p class="clickable" id="athletic-socksample"><b>Athletic</b></p>
        <p class="current clickable" id="casual-socksample"><b>Casual</b></p>
        <p class="clickable" id="dress-socksample"><b>Dress</b></p>
      </div>
    </div>
    <script>
      $('.sock-options p').click(function() {
        $(this).addClass('current').siblings().removeClass('current'); 
        var imageChoice = $(this).attr("id")
        switch(imageChoice) {
          case "athletic-socksample":
            $('#athletic').show().siblings().hide(); 
            break;
          case "casual-socksample":
            $('#casual').show().siblings().hide(); 
            break;
          case "dress-socksample":
            $('#dress').show().siblings().hide(); 
            break;
        }
      })
    </script>
   <div class="half">
    <div class="accent-padding">
        <div class="two-thirds flex-container-no paca-flip-benefits">
          <img src="{{'crown.png' | asset_url}}" class="icon" />
          <p class="subscript"><b>Soft as Cashmere</b></p>
        </div>
        <div class="two-thirds flex-container-no paca-flip-benefits">
          <img src="{{'poof.png' | asset_url}}" class="icon" />
          <p class="subscript"><b>Non-itchy & Hypoallergenic</b></p>
        </div>
        <div class="two-thirds flex-container-no paca-flip-benefits">
          <img src="{{'flame.png' | asset_url}}" class="icon" />
          <p class="subscript"><b>Warmer than Wool</b></p>
        </div>
        <div class="two-thirds flex-container-no paca-flip-benefits">
          <img src="{{'leaf.png' | asset_url }}" class="icon" />
          <p class="subscript"><b>Eco-friendly & Natural</b></p>
        </div>
        <div class="two-thirds flex-container-no paca-flip-benefits">
          <img src="{{'ribbon.png' | asset_url }}" class="icon" />
          <p class="subscript"><b>Gives Back</b></p>
        </div> 
        <div class="two-thirds flex-container-no paca-flip-benefits">
          <img src="{{'water.png' | asset_url}}" class="icon" />
          <p class="subscript"><b>Thermoregulating & Waterproof</b></p>
        </div>
      </div>
    </div>
   </div>
</section>
<section class="page-header mo">
  <div class="flex-container-no" id="mobile-sock">
    <img src="{{'bombas_socksample.png' | asset_url }}" id="sock-sample" />
    <div class="half">
      <div class="flex-container-no">
        <img src="{{'crown.png' | asset_url}}" class="icon" />
        <p class="subscript"><b>Soft as Cashmere</b></p>
      </div>
      <div class="flex-container-no">
        <img src="{{'leaf.png' | asset_url}}" class="icon" />
        <p class="subscript"><b>Eco-friendly & Natural</b></p>
      </div>
      <div class="flex-container-no">
        <img src="{{'flame.png' | asset_url}}" class="icon" />
        <p class="subscript"><b>Warmer than Wool</b></p>
      </div>
      <div class="flex-container-no">
       <img src="{{'ribbon.png' | asset_url }}" class="icon" />
       <p class="subscript"><b>Gives Back</b></p>
      </div>
       <div class="half flex-container-no">
          <img src="{{'poof.png' | asset_url}}" class="icon" />
          <p class="subscript"><b>Non-itchy & Hypoallergenic</b></p>
        </div>
          <div class="half flex-container-no">
          <img src="{{'water.png' | asset_url}}" class="icon" />
          <p class="subscript"><b>Thermoregulating & Waterproof</b></p>
        </div>
    </div>
  </div>
    <div class="flex-container-no jes">
      <p class="clickable"><b>Athletic</b></p>
      <p class="current clickable"><b>Casual</b></p>
      <p class="clickable"><b>Dress</b></p>
    </div>
</section>
<section class="flex-container-no double-padding" id="shop-all-cta">
  <div class="two-thirds tac">
    <h3>"The world's comfiest sock." - Chicago Times</h3>
    <div class="ib">
      <img src="{{'' | asset_url}}" class="shop-pacas">
      <p>Shop Men</p>
    </div>
    <div class="ib">
      <img src="{{'' | asset_url}}" class="shop-pacas">
      <p>Shop Women</p>
    </div>
    <div class="ib">
      <img src="{{'' | asset_url}}" class="shop-pacas">
      <p>Shop Kids</p>
    </div>
  </div>
  <div class="third"></div>
</section>


  {% include 'live-feed' %}


</main>