<main id="index">
<section class="page-header" id="atf">
  <div id="header-spreader">
  <h1 class="ttu nm"><em>Cozy Fleece</em></h1>
  <h2 class="accent nm tac"><em>to</em></h2>
  <h1 class=" ttu nm tar"><em>Comfy Feet</em></h1>
</div>
</section>
<section class="page-header tac">
  <img src="{{'paca-icon.png' | asset_url}}"  class="icon"/>
  <p id="mission">We Started Pacas to bring you joy and comfort with buttery soft socks made from luxurious, all natural alpaca fleece. Every purchase goes towards taking Paca-on-Wheels around the nation to deliver Paca socks to children staying in hospitals.</p>
</section>
<section class="page-header tac" id="fresh">
  <h2 class="text-white accent">Shop</h2>
  <div class="flex-container-no jes">
    <a href="/collections/mens"><p class="text-white"><b>Men</b></p></a>
    <a href="/collections/womens"><p class="text-white"><b>Women</b></p></a>
    <a href="/collections/kids"><p class="text-white"><b>Kids</b></p></a>
  </div>
</section>
<section class="page-header do">
 <div class="flex-container">
    <div class="sock-preview accent-padding half">
      <img src="{{'bombas_socksample.png' | asset_url}}" />
      <div class="flex-container-no jes">
        <p><b>Athletic</b></p>
        <p class="current"><b>Casual</b></p>
        <p><b>Dress</b></p>
      </div>
    </div>
   <div class="half">
    <p class="tac">Here at Pacas, we've curated the perfect alpaca blends to create Paca socks for all your athletic, casual, and dress needs</p>
    <div class="accent-padding">
      <div class="flex-container jcc ">
        <div class="half flex-container-no">
          <img src="{{'crown.png' | asset_url}}" class="icon" />
          <p class="subscript"><b>Soft as Cashmere</b></p>
        </div>
        <div class="half flex-container-no">
          <img src="{{'poof.png' | asset_url}}" class="icon" />
          <p class="subscript"><b>Non-itchy & Hypoallergenic</b></p>
        </div>
      </div>
      <div class="flex-container jcc">
        <div class="half flex-container-no">
          <img src="{{'flame.png' | asset_url}}" class="icon" />
          <p class="subscript"><b>Warmer than Wool</b></p>
        </div>
        <div class="half flex-container-no">
          <img src="{{'leaf.png' | asset_url }}" class="icon" />
          <p class="subscript"><b>Eco-friendly & Natural</b></p>
        </div>
      </div>
      <div class="flex-container jcc">
        <div class="half flex-container-no">
          <img src="{{'ribbon.png' | asset_url }}" class="icon" />
          <p class="subscript"><b>Gives Back</b></p>
        </div> 
        <div class="half flex-container-no">
          <img src="{{'water.png' | asset_url}}" class="icon" />
          <p class="subscript"><b>Thermoregulating & Waterproof</b></p>
        </div>
      </div>
    </div>
   </div>
</section>
<section class="page-header mo">
  <div class="flex-container-no" id="mobile-sock">
    <img src="{{'bombas_socksample.png' | asset_url }}" id="sock-sample" />
    <div class="half">
      <p class="tac">We've curated the perfect alpaca blends to create Paca socks for all your casual and dress needs</p>
      <div class="flex-container-no">
        <img src="{{'crown.png' | asset_url}}" class="icon" />
        <p class="subscript"><b>Soft as Cashmere</b></p>
      </div>
      <div class="flex-container-no">
        <img src="{{'leaf.png' | asset_url}}" class="icon" />
        <p class="subscript"><b>Eco-friendly & Natural</b></p>
      </div>
      <div class="flex-container-no">
        <img src="{{'flame.png' | asset_url}}" class="icon" />
        <p class="subscript"><b>Warmer than Wool</b></p>
      </div>
      <div class="flex-container-no">
       <img src="{{'ribbon.png' | asset_url }}" class="icon" />
       <p class="subscript"><b>Gives Back</b></p>
      </div>
       <div class="half flex-container-no">
          <img src="{{'poof.png' | asset_url}}" class="icon" />
          <p class="subscript"><b>Non-itchy & Hypoallergenic</b></p>
        </div>
          <div class="half flex-container-no">
          <img src="{{'water.png' | asset_url}}" class="icon" />
          <p class="subscript"><b>Thermoregulating & Waterproof</b></p>
        </div>
    </div>
  </div>
    <div class="flex-container-no jes">
      <p class="clickable"><b>Athletic</b></p>
      <p class="current clickable"><b>Casual</b></p>
      <p class="clickable"><b>Dress</b></p>
    </div>
</section>

<style>
 nav { background-color: #fdf3ed; }
</style>

<!-- <video class="fw" loop autoplay muted>
  <source src="{{'alpacas_gif.mp4' | asset_url}}" type="video/mp4">
</video> -->

<section class="flex-container-no accent-padding" id="give-the-gift">
  <div class="third">
  </div>
  <div class="tac two-thirds">
    <h3 class="nmt">Give the Gift of Comfort and Warmth</h3>
    <p class="nmt">Percentage of profits are used to dress pediatric cancer patients in hospitals. We make you warm, you make them warm.</p>
    <div class="button ib" id="learn-cta">
      <a href="/pages/our-story"><p class="nm">Learn More</p></a>
    </div>
  </div>
</section>
<section class="page-header tac">
  <h3 class="nmb">Check out our Live Feed</h3>
  <h3 class="accent nmt">#alpacas</h3>
  {% include 'live-feed' %}
</section>


</main>