<style>
  nav {
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,.2);
    background: white;
  }
</style> 

<main id="live-feed" class="index-padding"> 
  <h4 class="tac">Tag us at <span class="accent">#pacas</span></h4>
  <section>
    <div class="feed-row"> 
      <div class="feed-column">
        <div>
          <img src="{{'placeholder.png' | asset_url}}" />
          <p class="tac">@asldkfjaskldjf</p>
        </div>
        <div>
          <img src="{{'placeholder.png' | asset_url}}" />
          <p class="tac">@asldkfjaskldjf</p>
        </div>
        <div>
          <img src="{{'placeholder.png' | asset_url}}" />
          <p class="tac">@asldkfjaskldjf</p>
        </div>
        <div>
          <img src="{{'placeholder.png' | asset_url}}" />
          <p class="tac">@asldkfjaskldjf</p>
        </div>
        <div>
          <img src="{{'placeholder.png' | asset_url}}" />
          <p class="tac">@asldkfjaskldjf</p>
        </div>
        <div>
          <img src="{{'placeholder.png' | asset_url}}" />
          <p class="tac">@asldkfjaskldjf</p>
        </div>
      </div>
      <div class="feed-column">
        <div>
          <img src="{{'placeholder.png' | asset_url}}" />
          <p class="tac">@asldkfjaskldjf</p>
        </div>
        <div>
          <img src="{{'placeholder.png' | asset_url}}" />
          <p class="tac">@asldkfjaskldjf</p>
        </div>
        <div>
          <img src="{{'placeholder.png' | asset_url}}" />
          <p class="tac">@asldkfjaskldjf</p>
        </div>
        <div>
          <img src="{{'placeholder.png' | asset_url}}" />
          <p class="tac">@asldkfjaskldjf</p>
        </div>
        <div>
          <img src="{{'placeholder.png' | asset_url}}" />
          <p class="tac">@asldkfjaskldjf</p>
        </div>
        <div>
          <img src="{{'placeholder.png' | asset_url}}" />
          <p class="tac">@asldkfjaskldjf</p>
        </div>
      </div>
      <div class="feed-column">
        <div>
          <img src="{{'placeholder.png' | asset_url}}" />
          <p class="tac">@asldkfjaskldjf</p>
        </div>
        <div>
          <img src="{{'placeholder.png' | asset_url}}" />
          <p class="tac">@asldkfjaskldjf</p>
        </div>
        <div>
          <img src="{{'placeholder.png' | asset_url}}" />
          <p class="tac">@asldkfjaskldjf</p>
        </div>
        <div>
          <img src="{{'placeholder.png' | asset_url}}" />
          <p class="tac">@asldkfjaskldjf</p>
        </div>
        <div>
          <img src="{{'placeholder.png' | asset_url}}" />
          <p class="tac">@asldkfjaskldjf</p>
        </div>
        <div>
          <img src="{{'placeholder.png' | asset_url}}" />
          <p class="tac">@asldkfjaskldjf</p>
        </div>
      </div>
      <div class="feed-column">
        <div>
          <img src="{{'placeholder.png' | asset_url}}" />
          <p class="tac">@asldkfjaskldjf</p>
        </div>
        <div>
          <img src="{{'placeholder.png' | asset_url}}" />
          <p class="tac">@asldkfjaskldjf</p>
        </div>
        <div>
          <img src="{{'placeholder.png' | asset_url}}" />
          <p class="tac">@asldkfjaskldjf</p>
        </div>
        <div>
          <img src="{{'placeholder.png' | asset_url}}" />
          <p class="tac">@asldkfjaskldjf</p>
        </div>
        <div>
          <img src="{{'placeholder.png' | asset_url}}" />
          <p class="tac">@asldkfjaskldjf</p>
        </div>
        <div>
          <img src="{{'placeholder.png' | asset_url}}" />
          <p class="tac">@asldkfjaskldjf</p>
        </div>
      </div>
    </div>
  </section>
</main>