
<main id="our-story">
  <section class="flex-container-no background-blue page-header">
    <div class="half" style="width: 50%;"></div>
    <div class="half tac">
      <h3>Comfort Every <br class="mo">Step of the Way</h3>
      <p>Want to donate some socks to a local hospital?<br>Click <b>here</b> to pick out Paca styles.</p>
    </div>
  </section>
  <section class="tac double-padding">
    <img src="{{'bow.png' | asset_url}}" class="icon" />
    <p class="nmt">We started Pacas to bring joy to you and your feet with butter soft<br class="do">socks made from luxurious, all natural alpaca fleece.</p>
  </section>
  <img src="{{'our-story-d.png' | asset_url}}" class="fw do double-padding" style="max-width: 1800px; display: block; margin: 0 auto;box-sizing:border-box;"/>
  <img src="{{'our-story-m.png' | asset_url}}" class="fw mo" />
  <section class="flex-container background-blue">
    <div class="half accent-padding">
      <img src="{{'boy-with-paca.jpg' | asset_url}}" />
    </div>
    <div class="half double-padding tac">
      <img src="{{'blanket.png' | asset_url}}" class="icon" />
      <h3 class="nmt">Made to Love</h3>
      <p> We want to share the joy and comfort of Paca socks. A percentage of our profits go to donating baby alpaca blankets and socks to kids that are staying in the hospital. Alpaca fibers are stronger, warmer, lighter, and more durable than wool. Paca socks will keep them warm every step of the way.</p>
    </div>
  </section>
  <section class="flex-container background-blue">
    <div class="half accent-padding">
      <img src="{{'spinningyarn.jpg' | asset_url}}" />
    </div>
    <div class="half double-padding tac">
      <img src="{{'crown.png' | asset_url}}" class="icon" />
      <h3 class="nmt">Natural Feel, Luxurious Look</h3>
      <p>Alpaca fleece is classified as a speciality fiber. Baby alpaca fiber is soft and luxurious on the skin. We believe int eh best quality for the best comfort. Alpaca fibers have no natural grease, which makes color possibilities endless! However, alpacas already have over 20 natural colors.</p>
    </div>
  </section>
</main>