<main id="product" itemscope itemtype="http://schema.org/Product">
  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | product_img_url: 'grande' }}">
   
<section class="flex-container accent-padding">
    <div class="half accent-padding">
      <div class="flex-container-no jcc">
        <div class="left-arrow"><p class="large">⌃</p></div>
        <div>
          <img src="{{ product.featured_image.src | img_url: '2000x2000' }}" alt="{{ image.alt | escape }}" class="fw">
          {% if product.images.size > 1 %}
            {% for image in product.images %}
              <div class="circle"></div>
            {% endfor %}
          {% endif %}
        </div>
        <div class="right-arrow"><p class="large">⌃</p></div>
      </div>
      <p class="tac">{{ product.description }}</p>
    </div>
    <div class="half tac accent-padding">
      <h3>{{ product.title }}</h3>
    <form action="/cart/add" method="post" id="product-form-{{ product.id }} t" class="checkout" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <div class="tac fw">
        {%for variant in product.variants %}
          {% if variant.selected %}
            <p class="tac subscript">Color: <span id="color-selected">{{variant.title | truncatewords: 1, ""}}</span></p>
          {% endif %}
        {% endfor %}
    {% if product.available and product.variants.size > 1 %}
  {% for option in product.options %}
    {% include 'swatch' with option %}
  {% endfor %}
{% endif %}
    </div>
      {% if product.available %}
        <meta itemprop="priceCurrency" content="{{ shop.currency }}">
        <link itemprop="availability" href="http://schema.org/InStock">
        
       <select name="id" id="productSelect-{{ product.id }}" class="product-single__variants" style="display: none;">
          {% for variant in product.variants %}
            <option data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
          {% endfor %}
       </select>
       <select name="quantity" id="quantity">
         {% for i in (1..10) %}
         <option value="{{ i }}">{{ i }}</option>
         {% endfor %}         
      </select>  
      <br>
      <button type="submit" name="add" id="add-to-cart-{{ product.id }} add-cart" class="background-gray text-white add-to-cart"><span>Add to Cart</span></button>
      <p class="subscript clickable" id="size-chart"><b>See Size Guide</b></p>
      {% endif %}
    </form>
  </div>
</section>

<div style="display: none;" id="display-size" class="sizing-chart border-lightgray modal">
  <div class="accent-padding">
   <p class="nm klaviyo_header_close tar clickable">✕</p>
  <table>
    <tr>
      <th colspan="2" class="blank-row"></th>
      <th class="t-size table-title">small</th>
      <th class="t-size table-title">medium</th>
      <th class="t-size table-title">large</th>
    </tr>
    <tr class="lg">
      <td rowspan="2" class="table-title"><span>mens</span></td>
      <td class="table-title lg">US</td>
      <td>6.5-8</td>
      <td>8.5-11</td>
      <td>11.5+</td>
    </tr>
    <tr class="dg">
      <td class="table-title">UK</td>
      <td>39-41</td>
      <td>42-44</td>
      <td> 44+ </td>
    </tr>
    <tr class="lg">
      <td rowspan="2" class="table-title"><span>womens</span></td>
      <td class="table-title lg">US</td>
      <td>5-6.5</td>
      <td>7-8.5</td>
      <td>9-11.5</td>
    </tr>
    <tr class="dg">
      <td class="table-title">UK</td>
      <td>35-37</td>
      <td>38-39</td>
      <td>40-42</td>
    </tr>
  </table>
</div>
</div>
 
{% if product.available %}
<script>
  var selectCallback_{{ product.id }} = function(variant, selector) {

    // BEGIN SWATCHES
    if (variant) {
      var form = jQuery('#' + selector.domIdPrefix).closest('form');
      for (var i=0,length=variant.options.length; i<length; i++) {
        var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
        if (radioButton.size()) {
          radioButton.get(0).checked = true;
        }
      }
    }
    // END SWATCHES
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector,
      product_id: '{{ product.id }}',
      translations: {
      add_to_cart : "{{ settings.add_to_cart_text }}",
      sold_out : "Sold Out",
      unavailable : "Unavailable"
    }
                       });
  };
  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect-{{ product.id }}', {
                                product: {{ product | json }},
                                onVariantSelected: selectCallback_{{ product.id }},
                                enableHistoryState: true
                                });


  });
</script>
{% endif %}
   <section class="product-benefits background-blue flex-container">
    <div class="third">
    </div>
    <div class="two-thirds">
      <div class="flex-container">
        <div class="tac half">
          <img src="{{'crown.png' | asset_url}}" class="icon" />
          <h4>Soft as Cashmere</h4>
          <p>Our luxurious and rare<br> alpaca fleece comes<br> straight from their native<br> Incan lands of Peru.</p>
        </div>
        <div class="tac half">
          <img src="{{'flame.png' | asset_url}}" class="icon" />
          <h4>Warmer than Wool</h4>
          <p>Alpaca fibers are<br> completely hollow, which<br> enable them to trap  more<br> heat than sheep wool.</p>
        </div>
      </div>
      <div class="flex-container">
        <div class="tac half">
          <img src="{{'water.png' | asset_url}}" class="icon" />
          <h4>Thermoregulating & Waterproof</h4>
          <p>Alpaca fibers have a hollow<br>core, allowing their fleece<br> to provide insulation and<br> wick moisture.</p>
        </div>
        <div class="tac half">
          <img src="{{'poof.png' | asset_url}}" class="icon" />
          <h4>Non-itchy & Hypoallergenic</h4>
          <p>Alpaca fleece is naturally<br> smooth and short, with<br>no grease, providing the<br> ultimate comfort.</p>
        </div>
      </div>
        <div class="flex-container">
        <div class="tac half">
          <img src="{{'leaf.png' | asset_url}}" class="icon" />
          <h4>Eco-friendly & Sustainable</h4>
          <p>Alpacas step lightly on soil<br> and graze on native<br> grasses, which reduces<br> environmental impact.</p>
        </div>
        <div class="tac half">
          <img src="{{'ribbon.png' | asset_url}}" class="icon" />
          <h4>Gives Back</h4>
          <p>A percentage of every<br> purchase goes towards<br> dressing pediatric cancer <br>patients in hospitals.</p>
        </div>
      </div>
    </div>
  </section>
 <section class="page-header tac">
  <h3 class="nmb">Check out our Live Feed</h3>
  <h3 class="accent nmt">#alpacas</h3>
  <img src="{{'life-feed-preview.png' | asset_url}}" />
</section>
<script>
  $('form').change(function() {
    $('#color-selected').text("{%for variant in product.variants%} {% if variant.selected %}{{variant.title | truncatewords: 1, ""}}{%endif%}{%endfor%}")
    console.log('hit')
  })
</script>
<script text="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>