<main id="product" itemscope itemtype="http://schema.org/Product">
  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | product_img_url: 'grande' }}">
    {% unless product.title == "Gift Cards" or product.title == "Select" %}
  <section class="flex-container-no background-green mo-plus accent-padding fw tac">
            {% capture product_collection_url %}{{ product.url | within: collection }}{% endcapture %}
            {% for collection in product.collections %}
              {% if collection.title == "Women"%}
                {% for link in linklists.product-sub-nav1.links %}
                  {% unless link.url == product_collection_url %}
                    <a href="{{ link.url }}" class="accent-padding subscript" id="sub-nav" onclick="ga('send', 'event', 'Product', 'Click', 'Green Sub Nav');">{{ link.title | escape }}</a>
                  {% endunless %}
                {% endfor %}
              {% elsif collection.title == "Men" %}
                {% for link in linklists.product-sub-nav1-men.links %}
                  {% unless link.url == product_collection_url%}
                    <a href="{{ link.url }}" class="accent-padding subscript" id="sub-nav" onclick="ga('send', 'event', 'Product', 'Click', 'Green Sub Nav');">{{ link.title | escape }}</a>
                  {% endunless %}
                {% endfor %}
              {% endif %}
            {% endfor %}
    {% endunless %}
  </section>
  <section id="product-images">
     {% unless product.title == "Gift Cards" %}
        <div id="thumbnails" class="ndo-plus">
          <ul>
            {% for image in product.images limit: 1 %}
            <li><img data-src="{{ image | product_img_url: 'compact' }}" class="border-lightgray" class="product-image lazyload"/></li>
            {% endfor %}
            {% for image in product.images limit: 5 offset: 2 %}
            <li><img data-src="{{ image | product_img_url: 'compact' }}" class="product-image lazyload"/></li>
            {% endfor %} 
          </ul>
        </div>
      {% endunless %} 
      {% if product.type == "Closet Pack"%}
      <div class="mo-plus fw" id="moprice"><h3 class="tac nmb">{{ product.price | money }} <span style="text-decoration: line-through; color: gray;">{% if productq.price < product.compare_at_price_max and product.type == "Closet Pack" %}{{ product.compare_at_price | money }}{% endif %}</span></h3>
        {% if product.title == "Women's Closet Pack" %}
          <p class="subscript tac nmt">Save $5 when you buy a closet pack!</p>
        {% elsif product.title == "Men's Closet Pack" %}
          <p class="subscript tac nmt">Save $4 when you buy a closet pack!</p>
        {% endif %}
      </div>
      {% endif %}
      <div class="mo-plus fw">
        <div class="priceu" style="display: none;">
          <img src="{{'winterspecial.png' | asset_url}}" style="width: 300px; display: block; margin: 0 auto;" />
        {% if product.title == "Women's Closet Pack" %}
          <h3 class="tac nmb">$36.00 <span style="text-decoration: line-through; color: gray;">{% if product.price < product.compare_at_price_max %}$49.00{% endif %}</span></h3>
        {% else %}
          <div class="flex-container-no">
          <h3 class="tar" style="width: 56%; margin-right: 10px">$18.00 <span class="subscript" style="font-weight: 300; margin: 0 5px;">or</span> $12.00 </h3><span class="subscript" style="font-weight: 300;">when you buy 3 <br>or more pairs</span>
        </div>
          {% endif %}
        </div>
      </div>
      <img data-src="{{ product.featured_image.src | product_img_url: '2000x2000' }}" alt="{{ product.title }}" id="featured-image" class="lazyload"/>
      {% unless product.title == "Gift Cards" %}
        <div id="thumbnails" class="mo-plus" style="display: none;">
          <ul>
            {% for image in product.images limit: 1 %}
            <li><img data-src="{{ image | product_img_url: 'compact' }}" class="border-lightgray product-image lazyload"/></li>
            {% endfor %}
            {% for image in product.images limit: 5 offset: 2 %}
            <li><img data-src="{{ image | product_img_url: 'compact' }}" class="product-image lazyload"/></li>
            {% endfor %} 
          </ul>
        </div>
        {% endunless %}
  </section>
  
  {% include 'product-add-to-cart' %}
   <section class="product-benefits background-blue flex-container">
    <div class="third">
    </div>
    <div class="two-thirds">
      <div class="flex-container">
        <div class="tac half">
          <img src="{{'crown.png' | asset_url}}" class="icon" />
          <h4>Soft as Cashmere</h4>
          <p>Our luxurious and rare<br> alpaca fleece comes<br> straight from their native<br> Incan lands of Peru.</p>
        </div>
        <div class="tac half">
          <img src="{{'flame.png' | asset_url}}" class="icon" />
          <h4>Warmer than Wool</h4>
          <p>Alpaca fibers are<br> completely hollow, which<br> enable them to trap  more<br> heat than sheep wool.</p>
        </div>
      </div>
      <div class="flex-container">
        <div class="tac half">
          <img src="{{'water.png' | asset_url}}" class="icon" />
          <h4>Thermoregulating & Waterproof</h4>
          <p>Alpaca fibers have a hollow<br>core, allowing their fleece<br> to provide insulation and<br> wick moisture.</p>
        </div>
        <div class="tac half">
          <img src="{{'poof.png' | asset_url}}" class="icon" />
          <h4>Non-itchy & Hypoallergenic</h4>
          <p>Alpaca fleece is naturally<br> smooth and short, with<br>no grease, providing the<br> ultimate comfort.</p>
        </div>
      </div>
        <div class="flex-container">
        <div class="tac half">
          <img src="{{'leaf.png' | asset_url}}" class="icon" />
          <h4>Eco-friendly & Sustainable</h4>
          <p>Alpacas step lightly on soil<br> and graze on native<br> grasses, which reduces<br> environmental impact.</p>
        </div>
        <div class="tac half">
          <img src="{{'ribbon.png' | asset_url}}" class="icon" />
          <h4>Gives Back</h4>
          <p>A percentage of every<br> purchase goes towards<br> dressing pediatric cancer <br>patients in hospitals.</p>
        </div>
      </div>
    </div>
  </section>
 <section class="page-header tac">
  <h3 class="nmb">Check out our Live Feed</h3>
  <h3 class="accent nmt">#alpacas</h3>
  <img src="{{'life-feed-preview.png' | asset_url}}" />
</section>
<script>
  $('.color').change(function() {
    if ("{{product.title}}" == "Heels & Wedges") {
      if ($(this).hasClass('nude')) {
        var src = "//cdn.shopify.com/s/files/1/0424/0893/products/Nude_Heel_3_2000x2000.jpg?v=1529528675"
        $('#featured-image').attr("src", src)
        }
      else if ($(this).hasClass('black')) {
        $('#featured-image').attr("src","//cdn.shopify.com/s/files/1/0424/0893/products/Womens_BlackHeel_2000x2000.jpg?v=1529528675")
      }
    }
    else if ("{{product.title}}" == "Ballet Flats") {
      if ($(this).hasClass('nude')) {
        $('#featured-image').attr("src","//cdn.shopify.com/s/files/1/0424/0893/products/Nude_Flat_Bare_2000x2000.jpg?v=1529418978")
      }
      else if ($(this).hasClass('black')) {
        $('#featured-image').attr("src","//cdn.shopify.com/s/files/1/0424/0893/products/Black_Flat2_2000x2000.jpg?v=1529418978")
      }
    }
    $('.product-image').each(function() {
      if ($(this).attr("src").replace("compact", "2000x2000") == $('#featured-image').attr("src")) {
  $(this).addClass('border-lightgray').parent().siblings().children().removeClass('border-lightgray'); 
      }
    }); 
  })
    
</script>
<script text="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>